<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Driver Data</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>NIK</th>
          <th>Driver Name</th>
          <th>Driver Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let d of drivers | async">
          <td>{{ d.nik }}</td>
          <td>{{ d.driverName }}</td>
          <td>{{ d.driverPhone }}</td>
          <td>
            <button (click)="goToDetail(d.id)" class="btn btn-info" style="margin-right: 10px;">Detail</button>
            <button (click)="goToUpdate(d.id)" class="btn btn-info"style="margin-right: 10px;">Edit</button>
            <button (click)="deleteDriver(d.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
