<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li  class="nav-item">
      <a routerLink="vehicle" class="nav-link" routerLinkActive ="active">Vehicle List</a>
    </li>
    <li  class="nav-item">
      <a routerLink="addVehicle" class="nav-link" routerLinkActive ="active">Add Vehicle</a>
    </li>
    <li  class="nav-item">
      <a routerLink="driver" class="nav-link" routerLinkActive ="active">Driver List</a>
    </li>
    <li  class="nav-item">
      <a routerLink="addDriver" class="nav-link" routerLinkActive ="active">Add Driver</a>
    </li>
    <li class="nav-item">
      <a routerLink="customer" class="nav-link" routerLinkActive="active">Customer List</a>
    </li>
    <li  class="nav-item">
      <a routerLink="addCustomer" class="nav-link" routerLinkActive ="active">Add Customer</a>
    </li>
    
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{ title }}</h2>
  <hr/>
    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>

<footer class="footer">
  <div class="container">
    <span>Hak Cipta Bebas lho @2021</span>
  </div>
</footer>
