<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Vehicle Data</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Vehicle Name</th>
          <th>Vehicle Number</th>
          <th>Vehicle Model</th>
          <th>Vehicle Status</th>
          <th>Vehicle Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let v of vehicles | async">
          <td>{{ v.vhcName }}</td>
          <td>{{ v.vhcNumber }}</td>
          <td>{{ v.vhcModel }}</td>
          <td>{{ v.vhcStatus }}</td>
          <td>{{ v.vhcPrice }}</td>
          <td>
            <button (click)="goToDetail(v.id)" class="btn btn-info" style="margin-right: 10px;">Detail</button>
            <button (click)="goToUpdate(v.id)" class="btn btn-info"style="margin-right: 10px;">Edit</button>
            <button (click)="deleteVehicle(v.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
