html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.login__body {
  min-height: 50h;
}

.login__image {
  -o-object-fit: contain;
     object-fit: contain;
}

.login__container,
.login__row {
  min-height: 50vh;
}

.login__card {
  background-color: #f6f6f6;
}